body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 600px;
}

.card {
    width: 360px;
    margin: auto auto;
    border-radius: 550px;
    padding: 50px;
    display: block;
    justify-content: space-around;
    text-align: center;
    background: #f0ead2;
    color: #6c584c;
    border-bottom: 70px solid #adc178;    
    border-right: 0px solid #adc178;
    font-family: monospace;   

  /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

